In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set(style = 'darkgrid')

import geopandas as gpd
from keplergl import KeplerGl

_________
**Reading in Accident Data**
__________

In [3]:
# Read in Dataframe with All the accident data
acc_df = pd.read_csv('../data/US_Accidents_Dec20.csv')

In [4]:
acc_df.head(1)

,ID,Source,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,MapQuest,201.0,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,...,False,False,False,False,False,False,Night,Night,Night,Night

In [5]:
# lower and eliminate spaces in column names
acc_df.columns = acc_df.columns.str.lower().str.replace(' ', '_')

_________
**Read in License Data**, Format into DF, Prepare for Concatenation
________

In [6]:
# Read in Dataframe with data on driver's licensing in each state
license_df = pd.read_csv('../data/licensed_drivers_by_state.csv')

In [7]:
license_df.head(1)

,STATE,UNDER,20-24,25-29,30-34,35-39,40-44,45-49,50-54,55-59,60-64,65-69,70-74,75-79,80-84,OVER,total_drivers
0,Alabama,"219,648","327,163","347,679","320,583","307,331","292,967","311,675","309,970","339,239","327,915","286,986","242,004","168,934","113,483","110,574","4,026,151"

In [8]:
# lower and eliminate spaces in column names for license_df
license_df.columns = license_df.columns.str.lower().str.replace(' ', '_')

In [9]:
# creating df with only state column and total drivers columns
license_df = license_df.loc[:, ['state', 'total_drivers']]

In [10]:
license_df['state'] = license_df['state'].str.lower()

In [11]:
# replacing dist of col. with district of columbia so I can concatenate with other dfs
license_df['state'].replace('dist. of col. ', 'district of columbia', inplace = True)

In [12]:
# setting the state to index and dropping alaska and hawaii since they're not in accident data
license_df.set_index('state', inplace = True)
license_df.drop(['alaska', 'hawaii'], inplace = True)

In [13]:
license_df.shape

(49, 1)

In [14]:
# sorting index alphabetically and ensuring proper format
license_df.sort_index(inplace = True)
license_df.index = license_df.index.str.lower().str.strip()

______
**Read in Shape Files**, Format into DF and Prepare for Concatenation
______

In [15]:
national_shape = gpd.read_file('../data/cb_2018_us_state_500k/cb_2018_us_state_500k.shp')

In [16]:
# Dropping island territories
national_shape.drop([13, 27, 37, 38, 42, 44, 45], inplace = True)

In [17]:
# lower and eliminate spaces in column names
national_shape.columns = national_shape.columns.str.lower().str.replace(' ', '_')

In [18]:
# converting state name column to lowercase
national_shape['name'] = national_shape['name'].str.lower()

In [19]:
national_shape.shape

(49, 10)

In [20]:
# Setting index to name of state to prepare for concatenation
national_shape.set_index(keys = 'name', inplace = True)

In [21]:
# Sorting index alphabetically and ensuring proper format
national_shape.sort_index(inplace = True)
national_shape.index = national_shape.index.str.lower().str.strip()

________
**Create State Accident Counts**, Form into DF and Prepare for Concatenation
________

In [22]:
# Grouping acc_df by state and getting count of all accidents by state
state_count = acc_df.groupby('state').count()
state_count.head()

,id,source,tmc,severity,start_time,end_time,start_lat,start_lng,end_lat,end_lng,...,roundabout,station,stop,traffic_calming,traffic_signal,turning_loop,sunrise_sunset,civil_twilight,nautical_twilight,astronomical_twilight
state,,,,,,,,,,,,,,,,,,,,,
AL,56989,56989,47642,56989,56989,56989,56989,56989,9347,9347,...,56989,56989,56989,56989,56989,56989,56989,56989,56989,56989
AR,5089,5089,732,5089,5089,5089,5089,5089,4357,4357,...,5089,5089,5089,5089,5089,5089,5089,5089,5089,5089
AZ,93038,93038,62918,93038,93038,93038,93038,93038,30120,30120,...,93038,93038,93038,93038,93038,93038,93038,93038,93038,93038
CA,971856,971856,523752,971856,971856,971856,971856,971856,448104,448104,...,971856,971856,971856,971856,971856,971856,971848,971848,971848,971848
CO,54028,54028,34226,54028,54028,54028,54028,54028,19802,19802,...,54028,54028,54028,54028,54028,54028,54025,54025,54025,54025

In [23]:
# resetting index to numeric so I can map full state names to abbreviated names
state_count = state_count.reset_index()

In [24]:
state_count.head()

,state,id,source,tmc,severity,start_time,end_time,start_lat,start_lng,end_lat,...,roundabout,station,stop,traffic_calming,traffic_signal,turning_loop,sunrise_sunset,civil_twilight,nautical_twilight,astronomical_twilight
0,AL,56989,56989,47642,56989,56989,56989,56989,56989,9347,...,56989,56989,56989,56989,56989,56989,56989,56989,56989,56989
1,AR,5089,5089,732,5089,5089,5089,5089,5089,4357,...,5089,5089,5089,5089,5089,5089,5089,5089,5089,5089
2,AZ,93038,93038,62918,93038,93038,93038,93038,93038,30120,...,93038,93038,93038,93038,93038,93038,93038,93038,93038,93038
3,CA,971856,971856,523752,971856,971856,971856,971856,971856,448104,...,971856,971856,971856,971856,971856,971856,971848,971848,971848,971848
4,CO,54028,54028,34226,54028,54028,54028,54028,54028,19802,...,54028,54028,54028,54028,54028,54028,54025,54025,54025,54025

In [25]:
state_remap = {'AL': 'alabama', 'AR': 'arkansas', 'AZ': 'arizona', 'CA': 'california', 'CO': 'colorado',
 'CT': 'connecticut', 'DC': 'district of columbia', 'DE': 'delaware', 'FL': 'florida',
 'GA': 'georgia', 'IA': 'iowa', 'ID': 'idaho', 'IL': 'illinois',
 'IN': 'indiana', 'KS': 'kansas', 'KY': 'kentucky', 'LA': 'louisiana',
 'MA': 'massachusetts', 'MD': 'maryland', 'ME': 'maine', 'MI': 'michigan',
 'MN': 'minnesota', 'MO': 'missouri', 'MS': 'mississippi', 'MT': 'montana',
 'NC': 'north carolina', 'ND': 'north dakota', 'NE': 'nebraska',
 'NH': 'new hampshire', 'NJ': 'new jersey', 'NM': 'new mexico', 'NV': 'nevada',
 'NY': 'new york', 'OH': 'ohio', 'OK': 'oklahoma', 'OR': 'oregon',
 'PA': 'pennsylvania', 'RI': 'rhode island', 'SC': 'south carolina',
 'SD': 'south dakota', 'TN': 'tennessee', 'TX': 'texas', 'UT': 'utah',
 'VA': 'virginia', 'VT': 'vermont', 'WA': 'washington',
 'WI': 'wisconsin', 'WV': 'west virginia', 'WY':  'wyoming'}

In [26]:
# mapping full names to abbreviated state names
state_count['state'] = state_count['state'].map(state_remap)

In [27]:
# renaming id column to count.
state_count.rename(columns = {'id': 'count', }, inplace = True)

In [28]:
# eliminating all columns except count and state
state_count = state_count.loc[ : , ['state', 'count']]

In [29]:
state_count.head()

        state   count
0     alabama   56989
1    arkansas    5089
2     arizona   93038
3  california  971856
4    colorado   54028

In [30]:
# resetting index to state so that it can be concatenated with license data
state_count.set_index(keys = 'state', inplace = True)

In [31]:
# sorting index alphabetically and ensuring proper format
state_count.sort_index(inplace = True)
state_count.index = state_count.index.str.lower().str.strip()

In [32]:
state_count.shape

(49, 1)

______
**Concatenating Grouped DF's**
_______

In [33]:
national_group = pd.concat([state_count, national_shape, license_df], axis = 1, verify_integrity = True)
national_group.shape

(49, 11)

In [34]:
national_group.columns

Index(['count', 'statefp', 'statens', 'affgeoid', 'geoid', 'stusps', 'lsad',
       'aland', 'awater', 'geometry', 'total_drivers'],
      dtype='object')

In [35]:
national_group.head()

,count,statefp,statens,affgeoid,geoid,stusps,lsad,aland,awater,geometry,total_drivers
alabama,56989,01,01779775,0400000US01,01,AL,00,131174048583,4593327154,"MULTIPOLYGON (((-88.05338 30.50699, -88.05109 ...","4,026,151"
arizona,93038,04,01779777,0400000US04,04,AZ,00,294198551143,1027337603,"POLYGON ((-114.81629 32.50804, -114.81432 32.5...","5,369,210"
arkansas,5089,05,00068085,0400000US05,05,AR,00,134768872727,2962859592,"POLYGON ((-94.61783 36.49941, -94.61765 36.499...","2,153,929"
california,971856,06,01779778,0400000US06,06,CA,00,403503931312,20463871877,"MULTIPOLYGON (((-118.60442 33.47855, -118.5987...","27,213,650"
colorado,54028,08,01779779,0400000US08,08,CO,00,268422891711,1181621593,"POLYGON ((-109.06025 38.59933, -109.05954 38.7...","4,235,384"

In [45]:
national_group['total_drivers'] = national_group['total_drivers'].str.replace(',', '')

In [48]:
national_group['total_drivers'] = national_group['total_drivers'].astype(int)

In [49]:
national_group['acc_per_cap'] = national_group['count'] / national_group['total_drivers']

In [50]:
national_group

,count,statefp,statens,affgeoid,geoid,stusps,lsad,aland,awater,geometry,total_drivers,acc_per_cap
alabama,56989,01,01779775,0400000US01,01,AL,00,131174048583,4593327154,"MULTIPOLYGON (((-88.05338 30.50699, -88.05109 ...",4026151,0.014155
arizona,93038,04,01779777,0400000US04,04,AZ,00,294198551143,1027337603,"POLYGON ((-114.81629 32.50804, -114.81432 32.5...",5369210,0.017328
arkansas,5089,05,00068085,0400000US05,05,AR,00,134768872727,2962859592,"POLYGON ((-94.61783 36.49941, -94.61765 36.499...",2153929,0.002363
california,971856,06,01779778,0400000US06,06,CA,00,403503931312,20463871877,"MULTIPOLYGON (((-118.60442 33.47855, -118.5987...",27213650,0.035712
colorado,54028,08,01779779,0400000US08,08,CO,00,268422891711,1181621593,"POLYGON ((-109.06025 38.59933, -109.05954 38.7...",4235384,0.012756
connecticut,32488,09,01779780,0400000US09,09,CT,00,12542497068,1815617571,"MULTIPOLYGON (((-72.76143 41.24233, -72.75973 ...",2608061,0.012457
delaware,6907,10,01779781,0400000US10,10,DE,00,5045925646,1399985648,"MULTIPOLYGON (((-75.56555 39.51485, -75.56174 ...",812529,0.008501
district of columbia,6505,11,01702382,0400000US11,11,DC,00,158340391,18687198,"POLYGON ((-77.11976 38.93434, -77.11253 38.940...",535579,0.012146
florida,369559,12,00294478,0400000US12,12,FL,00,138949136250,31361101223,"MULTIPOLYGON (((-80.17628 25.52505, -80.17395 ...",15560628,0.023750
georgia,107071,13,01705317,0400000US13,13,GA,00,149482048342,4422936154,"MULTIPOLYGON (((-81.27939 31.30792, -81.27716 ...",7261266,0.014746
idaho,4237,16,01779783,0400000US16,16,ID,00,214049787659,2391722557,"POLYGON ((-117.24267 44.39655, -117.23484 44.3...",1252535,0.003383
illinois,111692,17,01779784,0400000US17,17,IL,00,143780567633,6214824948,"POLYGON ((-91.51297 40.18106, -91.51107 40.188...",8546932,0.013068
indiana,38098,18,00448508,0400000US18,18,IN,00,92789302676,1538002829,"POLYGON ((-88.09776 37.90403, -88.09448 37.905...",4589405,0.008301
iowa,14186,19,01779785,0400000US19,19,IA,00,144661267977,1084180812,"POLYGON ((-96.63970 42.73707, -96.63589 42.741...",2274431,0.006237
kansas,9728,20,00481813,0400000US20,20,KS,00,211755344060,1344141205,"POLYGON ((-102.05174 40.00308, -101.91670 40.0...",2154260,0.004516
kentucky,24707,21,01779786,0400000US21,21,KY,00,102279490672,2375337755,"MULTIPOLYGON (((-89.40565 36.52817, -89.39869 ...",3030329,0.008153
louisiana,80485,22,01629543,0400000US22,22,LA,00,111897594374,23753621895,"MULTIPOLYGON (((-88.86770 29.86155, -88.86566 ...",3435168,0.023430
maine,2346,23,01779787,0400000US23,23,ME,00,79887426037,11746549764,"MULTIPOLYGON (((-67.35580 44.64226, -67.35437 ...",1046129,0.002243
maryland,69859,24,01714934,0400000US24,24,MD,00,25151100280,6979966958,"MULTIPOLYGON (((-76.05015 37.98691, -76.04998 ...",4463862,0.015650
massachusetts,44114,25,00606926,0400000US25,25,MA,00,20205125364,7129925486,"MULTIPOLYGON (((-70.23405 41.28565, -70.22361 ...",4950056,0.008912
michigan,105726,26,01779789,0400000US26,26,MI,00,146600952990,103885855702,"MULTIPOLYGON (((-83.19159 42.03537, -83.18993 ...",7141494,0.014804
minnesota,105362,27,00662849,0400000US27,27,MN,00,206228939448,18945217189,"MULTIPOLYGON (((-89.59206 47.96668, -89.59147 ...",3391057,0.031071
mississippi,8052,28,01779790,0400000US28,28,MS,00,121533519481,3926919758,"MULTIPOLYGON (((-88.50297 30.21523, -88.49176 ...",2058036,0.003912
missouri,40132,29,01779791,0400000US29,29,MO,00,178050802184,2489425460,"POLYGON ((-95.77355 40.57820, -95.76853 40.583...",4274389,0.009389
montana,3342,30,00767982,0400000US30,30,MT,00,376962738765,3869208832,"POLYGON ((-116.04914 48.50205, -116.04913 48.5...",811851,0.004117
nebraska,25005,31,01779792,0400000US31,31,NE,00,198956658395,1371829134,"POLYGON ((-104.05342 41.17054, -104.05324 41.1...",1430818,0.017476
nevada,12021,32,01779793,0400000US32,32,NV,00,284329506470,2047206072,"POLYGON ((-120.00574 39.22866, -120.00559 39.2...",2054421,0.005851
new hampshire,8559,33,01779794,0400000US33,33,NH,00,23189413166,1026675248,"MULTIPOLYGON (((-70.61702 42.97718, -70.61529 ...",1195211,0.007161
new jersey,69116,34,01779795,0400000US34,34,NJ,00,19047825980,3544860246,"POLYGON ((-75.55910 39.62906, -75.55945 39.629...",6377413,0.010838
new mexico,6455,35,00897535,0400000US35,35,NM,00,314196306401,728776523,"POLYGON ((-109.05017 31.48000, -109.04984 31.4...",1449711,0.004453
new york,189393,36,01779796,0400000US36,36,NY,00,122049149763,19246994695,"MULTIPOLYGON (((-72.03683 41.24984, -72.03496 ...",12194360,0.015531
north carolina,193331,37,01027616,0400000US37,37,NC,00,125923656064,13466071395,"MULTIPOLYGON (((-75.72681 35.93584, -75.71827 ...",7620001,0.025372
north dakota,464,38,01779797,0400000US38,38,ND,00,178707534813,4403267548,"POLYGON ((-104.04868 48.86378, -104.04865 48.8...",556064,0.000834
ohio,73148,39,01085497,0400000US39,39,OH,00,105828882568,10268850702,"MULTIPOLYGON (((-82.73571 41.60336, -82.73392 ...",8032792,0.009106
oklahoma,64870,40,01102857,0400000US40,40,OK,00,177662925723,3374587997,"POLYGON ((-103.00257 36.52659, -103.00219 36.6...",2522670,0.025715
oregon,108242,41,01155107,0400000US41,41,OR,00,248606993270,6192386935,"MULTIPOLYGON (((-123.59892 46.25145, -123.5984...",2930701,0.036934
pennsylvania,135909,42,01779798,0400000US42,42,PA,00,115884442321,3394589990,"POLYGON ((-80.51989 40.90666, -80.51909 40.921...",8987676,0.015122
rhode island,12909,44,01219835,0400000US44,44,RI,00,2677779902,1323670487,"MULTIPOLYGON (((-71.28802 41.64558, -71.28647 ...",761046,0.016962
south carolina,212573,45,01779799,0400000US45,45,SC,00,77864918488,5075218778,"MULTIPOLYGON (((-79.50795 33.02008, -79.50713 ...",3877968,0.054816
south dakota,219,46,01785534,0400000US46,46,SD,00,196346981786,3382720225,"POLYGON ((-104.05788 44.99761, -104.05078 44.9...",638428,0.000343
tennessee,88428,47,01325873,0400000US47,47,TN,00,106802728188,2350123465,"POLYGON ((-90.31030 35.00429, -90.30988 35.009...",5422429,0.016308
texas,376282,48,01779801,0400000US48,48,TX,00,676653171537,19006305260,"MULTIPOLYGON (((-94.71830 29.72885, -94.71721 ...",17822760,0.021112
utah,57983,49,01455989,0400000US49,49,UT,00,212886221680,6998824394,"POLYGON ((-114.05296 37.59278, -114.05247 37.6...",2121099,0.027336
vermont,771,50,01779802,0400000US50,50,VT,00,23874175944,1030416650,"POLYGON ((-73.43774 44.04501, -73.43199 44.063...",564894,0.001365
virginia,127774,51,01779803,0400000US51,51,VA,00,102257717110,8528531774,"MULTIPOLYGON (((-75.74241 37.80835, -75.74151 ...",5888196,0.021700
washington,74694,53,01779804,0400000US53,53,WA,00,172112588220,12559278850,"MULTIPOLYGON (((-122.57039 48.53785, -122.5686...",5711136,0.013079
west virginia,3612,54,01779805,0400000US54,54,WV,00,62266474513,489028543,"POLYGON ((-82.64320 38.16909, -82.64300 38.169...",1130389,0.003195
wisconsin,21519,55,01779806,0400000US55,55,WI,00,140290039723,29344951758,"MULTIPOLYGON (((-86.95617 45.35549, -86.95463 ...",4296646,0.005008
wyoming,521,56,01779807,0400000US56,56,WY,00,251458544898,1867670745,"POLYGON ((-111.05456 45.00095, -111.04507 45.0...",424115,0.001228

_________
**Plotting**
__________

# Kepler.gl Plot
Created a basic national map with accident count, licensed drivers and percentage of accidents per capita (derived by dividing accident count by licensed drivers per state)

In [54]:
ng_gdf = gpd.GeoDataFrame(national_group)

In [55]:
ng_gdf = ng_gdf.loc[:, ['count', 'geometry', 'total_drivers', 'acc_per_cap']]

In [56]:
# Instantiate KeplerGl
map_1 = KeplerGl(height = 400)

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

In [57]:
# Add data to KeplerGl instance
map_1.add_data(data = ng_gdf, name = 'NationalAccidents')

**Plot Detailing Number of Accidents Per State, Total Licensed Drivers Per State and Accidents Per Capita**

In [58]:
display(map_1)

KeplerGl(data={'NationalAccidents': {'index': ['alabama', 'arizona', 'arkansas', 'california', 'colorado', 'co…

In [53]:
# Converting acc_df to geopandas df. 
# This also converts latitude and longitude columns to geomtry columns (these are shapely objects)
# https://gis.stackexchange.com/questions/174159/converting-pandas-dataframe-to-geodataframe/258376#258376
gdf = gpd.GeoDataFrame(acc_df, 
                             geometry=gpd.points_from_xy(x=acc_df['start_lng'], y=acc_df['start_lat']))

In [50]:
map_2 = KeplerGl(height = 400)

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

In [51]:
# Add data to KeplerGl instance
map_2.add_data(data = gdf, name = 'Accidents')

In [52]:
display(map_2)

In [59]:
location_df = acc_df.loc[:, ['start_lat', 'start_lng']]

In [60]:
loc_gdf = gpd.GeoDataFrame(location_df, 
                             geometry=gpd.points_from_xy(x=acc_df['start_lng'], y=acc_df['start_lat']))

In [61]:
map_3 = KeplerGl(height = 400)

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

In [62]:
map_3.add_data(data = gdf, name = "Accident Location")

KeyboardInterrupt:

In [ ]:
display(map_3)

In [1]:
ng_gdf.plot(figsize = (20,20));

NameError: name 'ng_gdf' is not defined

In [ ]:
national_shape.plot(, column='id', cmap='Oranges', figsize=(40, 80))
acc_df.plot(figsize = (40, 80))
plt.show()

In [ ]:
us_acc.plot(kind = "scatter", x="Start_Lng",y="Start_Lat",alpha = 0.009)

In [ ]:
us_acc.plot(kind = "scatter", x="Start_Lng",y="Start_Lat",alpha = 0.009,c="Severity", 
            cmap=plt.get_cmap("jet"), colorbar = False, figsize=(15,7))
plt.figure(figsize=(20,12))
plt.show()